<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.services.app">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.AlarmManagerActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MusicForeverActivity" />
        <activity android:name=".activities.MusicNotForeverActivity" />
        <activity android:name=".activities.AddPeopleNamesActivity" />

        <service
            android:name=".services.MusicServiceForever"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.MusicServiceNotForever"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="true" />
        <service
            android:name=".services.AddingAllPeopleService"
            android:exported="false" />

        <receiver android:name=".broadcasts.MyBroadcastReciever"
            android:enabled="true">
        </receiver>
    </application>

</manifest>